"*":
  "atom-material-ui":
    colors:
      genAccent: true
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui: {}
  core:
    addCurrentTabToWindowTitle: false
    allowWindowTransparency: true
    automaticallyUpdate: true
    projectHome: "/Users/jasoneun/Documents"
    themes: [
      "atom-material-ui"
      "hydra-syntax-theme"
    ]
    titleBar: "custom"
    transformDeprecatedStyleSheetMathExpressions: false
    transformDeprecatedStyleSheetSelectors: false
    useLegacySessionStore: false
  editor:
    defaultFontSize: 20
    fontFamily: "PP Fraktion Mono"
    fontSize: 20
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "91b145ba-3350-4f2f-ac7c-596e546f537a"
  "nord-atom-ui": {}
  welcome:
    lastViewedChangeLog: "1.122.0"
    showOnStartup: false
